// sass-lint:disable no-url-domains, no-url-protocols
// Typography
// --------------------------------------
// Function to convert pixels to rem

$browser-context: 16;

@function rem($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}



//------- Colors -------
$yellow-tan: #ffde65;
$sky-blue: #5ccdff;
$dark-sky-blue: #2da8df;
$flat-blue: #3877af;
$chathams-blue: #16426d;

// Monochrome
$greyish-brown: #4a4a4a;
$medium-gray: #9b9b9b;
$light-gray: #d4d4d4;
$off-white: #f2f2f2;
$white: #fff;


$color--primary: $sky-blue;
$color--highlight: $yellow-tan;


//------- Typography -------
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');

$font-family: 'Nunito Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$base-font-size: rem(16px);

$h1: rem(48px);
$h2: rem(30px);
$h3: rem(20px);
$h4: $base-font-size;
$h5: rem(14px);
$h6: rem(12px);


//--------- Layout -------
$sm: 480px;
$md: 640px;
$lg: 760px;
$xl: 980px;


$body-container-width: $xl;
$content-width: $lg;
$gutter: rem(20px);
$section-margin: rem(30px);


//Forms
$input-margin: 10px;

