.footer {
  @include full-width;

  &__wrapper {
    background-color: $greyish-brown;
    color: $white;
    padding: $gutter 0;
  }

  .region__footer {
    @include flex-container;
  }

  .block {
    margin: 0;
  }

  .block,
  nav {
    @include flex-item;
  }

  nav {

    ul {
      margin: 0;
    }

    li {
      list-style: none;
      display: inline-block;

      a {
        color: $white;
        padding: 0 $gutter;
      }
    }
  }
}
