//sass-lint:disable nesting-depth

.tabs {
  &__primary {
    @include flex-container;
    padding: 0;
    border-bottom: 1px solid $light-gray;

    li {
      @include flex-item;
      list-style: none;
      padding: rem(5px) rem(15px);
      border: solid $light-gray;
      border-width: 1px 0 0 1px;

      &:last-child {
        border-right-width: 1px;
      }

      &:hover {
        background-color: $light-gray;
      }
    }
  }
}
