.site-branding {
  @include flex-container;
  color: $white;
  padding: $section-margin 0;
  align-items: center;

  &__logo {
    img {
      max-width: 120px;
      width: 100%;
    }

    @media all and (min-width: $xl) {
      margin-left: -140px;
    }
  }

  &__text {
    padding-left: $gutter;
  }

  &__name {
    font-weight: bold;

    h1 {margin-bottom: 0;}

    a {
      color: $white;
    }
  }
}
