.header {
  // sass-lint:disable no-color-literals
  @include full-width;
  padding-bottom: 0;

  &__wrapper {
    //min-height: 100px;
    background: no-repeat top center;
    background-size: cover;
    .bg-gradient-to-r {
      background-image: linear-gradient(to right, rgba(4,20,33,0.7), rgba(4,20,33,0.7));
    }
  }

  &__overlay {
    background: linear-gradient(145deg, rgba(2, 0, 36, 1) 0%, rgba(9, 70, 121, .7) 32%, rgba(4, 182, 246, .3) 96%);
  }

  button,
  .button {
    @include button(
      $font-color: $greyish-brown,
      $bg: $color--highlight,
      $hover-color: $off-white,
      $hover-bg: $dark-sky-blue
    )
  }
}

.region__banner {
  max-width: $content-width;
  margin: 0 auto;
}

.pl-250 {
  padding-left: 250px;
}
.pl-130 {
  padding-left: 130px;
  @media all and (max-width: $xl) {
    padding-left: 0px;
  }
}

.bg-yellow-tan {
  background-color: $yellow-tan;
  border: 1px solid $yellow-dark;
  color: $greyish-brown;
}

.version-list {
  min-width: 170px;
  height: 38px;
  background-color: $off-white;
}

.simplytest-react-component summary::marker {
  color: transparent;
}

.demo-btn {
  width: 100%;
  background-color: $off-white;
}

.simplytest-react-component {
  .bg-gradient-to-r {
    @media all and (max-width: $xl) {
      padding: 10px 15px;
    }
  }
  .mobile-column-flex {
    @media all and (max-width: $xl) {
      flex-direction: column;
      width: 100%;
      margin-bottom: 15px;
    }
    & > .relative {
      @media all and (max-width: $xl) {
        margin-bottom: 15px;
      }
    }
  }
  .evaluate-project.label {
    font-size: 21px;
    color: $white;
    margin-bottom: 15px;
    display: inline-block;
  }
  .desktop-align-item-end {
    @media all and (min-width: $xl) {
      align-items: flex-end;
    }
  }
  details {
    .arrow-circle {
      &:after {
        content: url('../images/icons/down_arrow.svg');
      }
    }
    &[open] {
      .arrow-circle {
        &:after {
          content: url('../images/icons/up_arrow.svg');
        }
      }
    }
  }
}

.advance-summary {
  color: $sky-blue;
  cursor: pointer;
  margin-bottom: 30px;
  &::marker {
    content: '';
  }
}

.btn-blue {
  background: $dark-sky-blue;
  border: 1px solid #1983c4;
  color: $white;
}
