.block-sitebranding {
  margin: 0;
}
.site-branding {
  @include flex-container;
  color: $white;
  padding: $section-margin 0;
  align-items: center;

  &__logo {
    img {
      max-width: 120px;
      width: 100%;
      @media all and (max-width: $xl) {
        font-size: 80px;
      }
    }

    @media all and (min-width: $xl) {
      margin-left: -140px;
    }
  }

  &__text {
    padding-left: $gutter;
  }

  &__name {
    font-weight: bold;

    h1 {margin-bottom: 0;
      font-size: 48px;
      @media all and (max-width: $xl) {
        font-size: 28px;
      }
    }

    a {
      color: $white;
    }
  }
}
