.triptych {
  //@include full-width;
  margin-top: 2em;
  @media all and (min-width: $lg) {
    @include flex-container($justify-content: space-between);

    .col {
      @include flex-item;
      width: 30%;
      margin: 0 1%;
    }
  }

  .col {
    &::before {
      height: 1px;
      width: 120px;
      background: $medium-gray;
      content: '';
      display: block;
    }
  }

  .block__title {
    font-size: $h3;
  }
}
