.triptych {
  //@include full-width;
  margin-top: 2em;
  @media all and (min-width: $lg) {
    @include flex-container($justify-content: space-between);

    .col {
      @include flex-item;
      width: 30%;
      margin: 0 1%;
    }
  }

  .col {
    &::before {
      height: 1px;
      width: 120px;
      background: $medium-gray;
      content: '';
      display: block;
    }
  }

  .block__title {
    font-size: $h3;
  }
}


.triptych {
  padding-left: 120px;
  margin-bottom: 30px;
  @media all and (max-width: $xl) {
    padding: 0 20px;
  }
  .block__title {
    font-size: 20px;
    color: $heading-blue;
    display: flex;
    min-height: 80px;
    align-items: flex-end;
    border-top:1px solid #9b9b9b;
    position: relative;
    margin-bottom: 20px;
    @media all and (max-width: $xl) {
      min-height: 60px;
    }
    &:after {
      padding:0;margin:0;display:block;/* probably not really needed? */
      content: "";
      width: 250px;
      height:1.1px;
      background-color:white;
      position: absolute;
      right:0;
      top:-1px;
      @media all and (max-width: $xl) {
        width: calc(100% - 150px);
      }
    }
    
  }
  .cta-link {
    a {
      background-color: $dark-sky-blue;
      font-size: 14px;
      font-weight: 600;
      color: white;
      padding: 4px 10px 3px;
      text-decoration: none;
      border-radius: 6px;
    }
    &.social-link {
      a {
        background-color: $flat-blue;
        &:before {
          display: inline-block;
          content: ' ';
          background: url(../images/twitter.png) no-repeat;
          height: 20px;
          width: 20px;
          margin-right: 4px;
          position: relative;
          top: 6px;
          background-size: contain;
        }
      }
    }
  }
}