/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/

/web/sites/default/settings.local.php
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php

node_modules
