.messages__wrapper {
  .region__messages {
    max-width: 1024px;
    margin: 30px auto 20px;
    padding-left: 130px;
    @media (--x-large-viewport)  {
      padding: 0 15px;
    }

    .block-simplytestmessage {
      display: flex;
      align-items: center;
      margin: 0 0 2px;
      min-height: 75px;
      background-color: var(--warning-bg);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, .5);
      padding: 13px 14px 12px;
      @media (--x-large-viewport)  {
        align-items: flex-start;
      }

      .warning-img {
        margin: 0 16px 0 0;
        padding: 8px 9px 14px;
        border-radius: 50%;
      }

      .messages__icon {
        max-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
      .warning-wrapper {
        .messages__title {
          margin: 0;
          font-weight: bold;
        }
        .messages__body {
          font-size: 14px;
        }
      }
    }
  }
}

