.sponsors {
  width: calc(100% - 40px);
  margin: 0 auto;
  @media (--small-min-viewport) {
      max-width: 980px;
  }
  .region__sponsors {
    .block {
      margin: 0;
    }

    .views-row {
      display: flex;
      align-items: center;
      @media (--x-large-viewport) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
      }
      .views-col {
        @media (--x-large-viewport) {
          width: 100% !important;
          display: flex;
          justify-content: center;
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}
