{% extends 'page.html.twig' %}

{% block header_content %}
  {{ page.content }}
{% endblock %}
{% block main_content %}
  <div class="explanation__wrapper py-5 bg-light-blue">
    <section class="gap-4 max-w-screen-lg container mx-auto explanation-container p-5 lg:pl-32 flex flex-col md:flex-row">
      <div class = "explanation__first mb-10 lg:mb-0 w-full md:w-1/2">
        <div class="text-title-blue text-3xl font-bold mb-5">
          What is this?
        </div>
        <div class="body">
          simplytest.me helps you to find the module, theme or distribution that fits your needs. <br><br>
          It provides sandbox environments for testing the functionality of any project before even downloading it.<br><br>
          Simple, fast and for free!
        </div>
      </div>
      <div class = "explanation__second w-full md:w-1/2">
        <div class="text-title-blue text-3xl font-bold mb-5">
          How to use it?
        </div>
        <div class="body">
          <ol>
            <li>Start typing a project's name or enter a shortname directly.</li>
            <li>Choose your preferred version. Drupal 6, 7 and 8 are supported.</li>
            <li>Hit the button (wait until your sandbox is ready) and test it!</li>
          </ol>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
