

//-- FLEXBOX
//---------------------------------------------
@mixin flex-container(
  $justify-content: flex-start,
  $align-content: space-between,
  $flex-wrap: nowrap) {
  display: flex;
  flex-direction: row;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-content: $align-content;
}

//  Flex item
@mixin flex-item($flex: 0 1 auto) {
  // Define this value by default to avoid IE10 bug
  flex: $flex;
  align-self: auto;
}

@mixin full-width {
  width: calc(100% - 40px);
  margin: 0 auto;

  @media all and (min-width: $sm) {
    max-width: $body-container-width;
  }
}

@mixin button(
  $font-color: $off-white,
  $bg: $dark-sky-blue,
  $hover-color: $greyish-brown,
  $hover-bg: $color--highlight
) {
  font-weight: bold;
  border: 0;
  padding: rem(10px) rem(20px);
  background: $bg;
  border-radius: 3px;
  font-size: $base-font-size;
  color: $font-color;

  &:hover {
    background: $hover-bg;
    color: $hover-color;
  }
}
